* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1340px;
}

a {
  text-decoration-line: none;
}

button {
  border: none;
  outline: none;
}

@font-face {
  font-family: "Poppins";
  src: url(../src//fonts/Poppins-Regular.ttf);
}
